---
import MainLayout from "../../layouts/MainLayout.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/lang";

const t = useTranslations(getLangFromUrl(Astro.url), "Index");
---

{/*viewOn@style*/}
<style lang="scss">
  @import "../../styles/variables.scss";

  #hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--themed-first-color);
    height: 100vh;
    margin-top: -$headerHeight;
    color: var(--themed-second-color);
    text-align: center;
    & > h1 {
      font-size: 4rem;
    }
    & > h2 {
      margin-top: -7.5px;
      font-size: 2rem;
    }
    & > div {
      margin-top: 10px;
      display: flex;
      gap: 15px;
      & > a {
        cursor: pointer;
        font-size: 1.5rem;
        padding: 5px 15px;
        border: var(--themed-second-color) 2px solid;
        border-radius: 10px;
        transition:
          color,
          background-color 100ms ease-in-out;
        &:hover {
          background-color: var(--themed-second-color);
          color: var(--themed-first-color);
        }
      }
    }
  }
</style>
{/*viewOff@style*/}

{/*viewOn@element*/}
<MainLayout>
  <section id="hero">
    <h1>Lukáš Alois Zborník</h1>
    <h2>Software Developer</h2>
    <div>
      <a>{t(["Hero", "lookAtWork"])}</a>
      <a>{t(["Hero", "workTogether"])}</a>
    </div>
  </section>
</MainLayout>
{/*viewOff@element*/}
