---

---

{/*viewOn@style*/}
<style lang="scss">
  @import "../styles/variables.scss";

  footer {
    display: flex;
    justify-content: center;
    padding: 24px 30px;
    background: $greenColor;
    font-family: "Lexend", sans-serif;
  }

  p {
    font-size: 1rem;
  }
</style>
{/*viewOff@style*/}

{/*viewOn@element*/}
<footer>
  <p>Copyright ©2023-{new Date().getFullYear()} Lukáš Alois Zborník</p>
</footer>
{/*viewOff@element*/}
